<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>08:45 am</td>        <!-- time    -->
        <td>Installation Problems</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>9:00 am</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/organization-genomics/">Project organization and management</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:00 am</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/shell-genomics/">Introduction to the command line (Part I)</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>1:00 pm</td>        <!-- time    -->
        <td>End</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 3   -->
        <td>9:00 am</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/shell-genomics/">Introduction to the command line (Part II)</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 1   -->
        <td>10:00 am</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/wrangling-genomics/">Data Wrangling and Processing (Part I)</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>1:00 pm</td>        <!-- time    -->
        <td>End</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:00 am</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/wrangling-genomics/">Data Wrangling and Processing (Part II)</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 1   -->
        <td>10:00 am</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/cloud-genomics/">Introduction to cloud computing for genomics</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>10:30 am</td>        <!-- time    -->
        <td>Add-on: UK Biobank</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>12:45 pm</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 3   -->
        <td>1:00 pm</td>        <!-- time    -->
        <td>End</td>        <!-- content -->
      </tr>
    </table>
  </div>

</div>
